body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 2%;
}
h1 {
    font-size:20px;
}
input[type="submit"] {
  border: 1px solid black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #eee;
  cursor: pointer;
}
input[type=text] {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding:4px;
}

select {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding:4px;
  border-radius:5px;
}
table {
    border: none;
    table-layout: auto;
    margin: 10px;
}
tr.thead td, td.thead {
    font-weight: bold;
    background: rgba(0, 0, 0, .05);
    text-align: center;
    color: rgba(0, 0, 0, .55);
}
td.count {
    text-align: right;
}
#visualization_wrap {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
}

#timeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
