html {
  height: 100%;
}
body {
  font-family:sans-serif;
  width: 95%;
  min-height: 95%;
  margin: 2%;
  font-size: 0.875em;
}
input[type="submit"] {
  border: 1px solid black;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #eee;
  cursor: pointer;
}
input[type=text] {
  font-family: sans-serif;
  padding:4px;
}

select {
  font-family: sans-serif;
  padding:4px;
  border-radius:5px;
}
table {
    border: none;
    table-layout: auto;
    margin: 10px;
}
td {
    padding: 0 15px;
}
tr.thead td, td.thead {
    font-weight: bold;
    background: rgba(0, 0, 0, .05);
    text-align: center;
    color: rgba(0, 0, 0, .55);
}
td.count {
    text-align: right;
}

label {
    font-weight: normal !important;
}

#timeline {
  position: absolute;
  top: 100;
  left: 100;
  width: 95%;
  height: 85%;
}
