<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>
  Contact Info
    </h3>

    <p>You can <a href="mailto:winglavender@gmail.com">email me</a> with questions, comments, or issues. This app is a work-in-progress, so if you have a specific feature or data request, I can take that into consideration.</p>

    <a href="{{ url_for('home') }}">Return to main page</a>
    </body>
</html>
