<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Roster Queries</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>
     Data 
    </h3>

    <p><b>Version 0.6</b></p>
  
    <p>This website is not guaranteed to contain all team or roster information for any given player, because it takes work to add new league data. Below is a summary of the leagues and seasons that are currently included. If there is a particular league or season(s) you'd like to see included, you can <a href="mailto:winglavender@gmail.com">email me</a> with a request (no promises!).</p>
   
    <p><b>Current data</b></p>

    <table>
        <tr>
            <th>League</th>
            <th>Seasons</th>
        </tr>
        <tr>
            <td>NHL</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>Worlds, WJC-20, WJC-18</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>Olympics</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>AHL</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>OHL, WHL, QMJHL</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>NCAA, USDP, USHL</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>KHL</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>WHC-17</td>
            <td>2000-2021</td>
        </tr>
        <tr>
            <td>World Cup</td>
            <td>2000-2021</td>
        </tr>
    </table>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
    </body>
</html>
