<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>
     Data 
    </h3>

    <p><b>Version 1.0</b></p>
  
    <p>This website is not guaranteed to contain all team or roster information for any given player, because it takes work to add new league data. Below is a summary of the leagues that are included. The data covers 2000-2022 (where available/applicable for each league).</p>
   

    <table>
        <tr>
            <th>League</th>
        </tr>
        <tr>
            <td>NHL</td>
        </tr>
        <tr>
            <td>Worlds, WJC-20, WJC-18</td>
        </tr>
        <tr>
            <td>Olympics</td>
        </tr>
        <tr>
            <td>AHL</td>
        </tr>
        <tr>
            <td>OHL, WHL, QMJHL</td>
        </tr>
        <tr>
            <td>NCAA, USDP, USHL</td>
        </tr>
        <tr>
            <td>KHL</td>
        </tr>
        <tr>
            <td>MHL</td>
        <tr>
            <td>WHC-17</td>
        </tr>
        <tr>
            <td>World Cup</td>
        </tr>
        <tr>
            <td>SHL</td>
        </tr>
        <tr>
            <td>J20 SuperElit, J18 Allsvenskan</td>
        </tr>
        <tr>
            <td>Liiga</td>
        </tr>
        <tr>
            <td>U20 SM-liiga, U18 SM-sarja</td>
        </tr>
    </table>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
    </body>
</html>
