<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>
  Details
    </h3>

    <p>Last updated with roster data up to 2022-02-08.</p>

    <p><b>Version 1.1</b></p>

    <ul>
    <li>New feature: now you can visualize all the former teammate relationships between two NHL rosters. See some examples <a href="https://twitter.com/wingvisible/status/1499562215636185105">here</a>.</li>
    </ul>

    <p><b>Version 1.0</b></p>

    <ul>
    <li>New features: now includes (mostly accurate) NHL trade dates.</li>
    <li>The app focuses on NHL players from 2000-2022. In addition, it contains roster data from the AHL, international tournament teams (Worlds, World Juniors, Olympics), as well as a selection of pro and junior leagues in Canada, the United States, Sweden, Russia, and Finland. See <a href="{{ url_for('data') }}">the full list of included leagues</a>).</li>
    <li>To search for a player, you must use their full name and the exact spelling used by <a href="https://eliteprospects.com">EliteProspects</a>. For example, "Yevgeni Malkin" will return results but "Evgeni Malkin" will not. However, capitalization and diacritics are optional ("Nicklas Backstrom" and "nicklas backstrom" and "Nicklas Bäckström" all return the same result).</li>
    </ul>

    <p>The code is available <a href="https://github.com/winglavender/hockey_teammates">on Github</a>.</p>

    <a href="{{ url_for('home') }}">Return to main page</a>
    </body>
</html>
