<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Roster Queries</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

  </head>
  <body>


    <h1>
      Teammate query
    </h1>

    <div id="content">
    <a href="{{ url_for('version_notes') }}">Version Notes</a>

    <form method="post" action="/form_result">
        <label for="target">Player:</label>
            <input type="text" id="target" name="target" required><br><br>
        <input type="submit" name="submit" value="Find teammates">
    </form>
    </div>
    </body>

<!--    <a href="{{ url_for('test') }}">Test</a>-->
</html>
