<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

  </head>
  <body>


      <h3>Hockey Teammates</h3>

      <p>An app to help you figure out which hockey players have been on a team together (focused on NHL players from 2000-2021 with additional data from international tournaments and some other pro and junior hockey leagues; see <a href="{{ url_for('version_notes') }}">the version notes</a> for more details). </p>

    <div id="content">
    <a href="{{ url_for('version_notes') }}">Version Notes</a> | <a href="{{ url_for('data') }}">Data</a> | <a href="{{ url_for('contact') }}">Contact</a><br><br>

    <form method="post" action="/form_result">
    <fieldset>
    <b>View a player's teammates over their whole career</b><br><br>
        <label for="target">Player:</label>
            <input type="text" id="target" name="target" required><br><br>
        <input type="submit" name="submit" value="Submit"><br><br>
    Note: results may not display well on mobile devices; try rotating your phone to landscape mode, or use a computer for best results.<br>
    </fieldset>
    </form><br><br>

    <form method="post" action="/pair_form_result">
    <fieldset>
    <b>Check whether two players have been teammates</b><br><br>
        <label for="player1">Player 1:</label>
            <input type="text" id="player1" name="player1" required><br><br>
        <label for="player2">Player 2:</label>
            <input type="text" id="player2" name="player2" required><br><br>
        <input type="submit" name="submit" value="Submit">
    </fieldset>
    </form>

    </div>
    </body>

<!--    <a href="{{ url_for('test') }}">Test</a>-->
</html>
