<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart2);
      function drawChart2() {
        var container = document.getElementById('timeline2');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        var player_data = {{career_data|tojson}}
        if (document.getElementById("switch_id").checked) {
          var name = {{display_name_asg|tojson}}  
        }
        else {
          var name = {{display_name_no_asg|tojson}}
        }

        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'string', id: 'Summary' });
        dataTable.addColumn({ type: 'string', role: 'tooltip' });
        dataTable.addColumn({ type: 'string', id: 'style', role: 'style' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        for (var player_count in player_data) {
            var player = player_data[player_count];
            dataTable.addRow([name, player["team_display_str"], player["tooltip_str"], player["color"], new Date(player["start_year_js"], player["start_month_js"], player["start_day_js"]), new Date(player["end_year_js"], player["end_month_js"], player["end_day_js"])]);
        }
        var chart = new google.visualization.Timeline(document.getElementById('timeline2'));
        var options = {
            timeline: { rowLabelStyle: {color:'#ffffff'}, },
            alternatingRowStyle: false
        };
        chart.draw(dataTable,options);
        $(document).ready(function () {
             $(window).resize(function(){
         drawChart2();
         });
       }); 
      }

      // google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(function() {drawChart();} );

   
    </script>
  </head>
  <body>
    <label class="switch">
      <input type="checkbox" id="switch_id">
      <span class="slider round"></span>
    </label>
    Include NHL All-Star Games<br><br>  

    <label class="switch">
      <input type="checkbox" id="switch_len_id">
      <span class="slider round"></span>
    </label>
    Sort players by length of time as teammmates  

  <h3>{{playername1}}</h3>
    <div id="timeline2"></div>
    <div id="timeline" style="height: 65%;"></div>

    <script>
         function drawChart() {
        // if (document.getElementById("switch_id") == null || 
        if (document.getElementById("switch_id").checked && document.getElementById("switch_len_id").checked) {
          var player_data = {{data_length_asg|tojson}};
        }
        else if (!document.getElementById("switch_id").checked && document.getElementById("switch_len_id").checked) {
          var player_data = {{data_length_no_asg|tojson}};
        }
        else if (document.getElementById("switch_id").checked && !document.getElementById("switch_len_id").checked) {
          var player_data = {{data_asg|tojson}};
        }
        else {
          var player_data = {{data_no_asg|tojson}};
        }  
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'string', id: 'Summary' });
        dataTable.addColumn({ type: 'string', role: 'tooltip' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        for (var player_count in player_data) {
            var player = player_data[player_count]
            dataTable.addRow([player["canon_name_y"], player["team_display_str"], player["tooltip_str"], new Date(player["overlap_start_year_js"], player["overlap_start_month_js"], player["overlap_start_day_js"]), new Date(player["overlap_end_year_js"], player["overlap_end_month_js"], player["overlap_end_day_js"])]);
        }
        var chart = new google.visualization.Timeline(document.getElementById('timeline'));
        chart.draw(dataTable);
        $(document).ready(function () {
             $(window).resize(function(){
         drawChart();
         });
       }); 
      }
    </script>
    <script>
      // let contentOff = document.querySelector('#content_off');
      // let contentOn = document.querySelector('#content_on');
      document.querySelector('.switch input').addEventListener('change', drawChart, false); 
      document.querySelectorAll('.switch input')[1].addEventListener('change', drawChart, false); 
      document.querySelector('.switch input').addEventListener('change', drawChart2, false); 
      document.querySelectorAll('.switch input')[1].addEventListener('change', drawChart2, false); 
  </script>
  </body>
</html>
