<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hockey Teammates</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <style>
        .tree_invisible{
        visibility: hidden;
  --spacing : 1.5rem;
  --radius  : 10px;
  font-size:0; margin:0;
}
      .tree{
  --spacing : 2rem;
  --radius  : 10px;
}
.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(0 - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) );

  padding-left : 0;
}
.alnright {
text-align: right;
}
table {
  border-collapse: collapse;
}
td:empty::after{
  content: "\00a0";
}

  </style>
  <body>

  <h3>Games vs Team</h3>
  <p><b>{{playername}}</b> has played {{data.summary.total_games}} game{% if data.summary.total_games != 1 %}s{% endif %} against the {{team}}:</p>

  <table>
    {% if data.summary.opponent_games > 0 %}
            {% if data.summary.opponent_games_preseason > 0 %}
            <tr>
                <td class='alnright'>{{data.summary.opponent_games_preseason}}</td><td>preseason game{% if data.summary.opponent_games_preseason != 1 %}s{% endif %} <i>({{data.summary.opponent_games_preseason_record.wins}}-{{data.summary.opponent_games_preseason_record.losses}})</i></td>
            </tr>
            {% endif %}
            {% if data.summary.opponent_games_regular > 0 %}
            <tr>
                <td class='alnright'>{{data.summary.opponent_games_regular}}</td><td>regular season game{% if data.summary.opponent_games_regular != 1 %}s{% endif %} <i>({{data.summary.opponent_games_regular_record.wins}}-{{data.summary.opponent_games_regular_record.losses}})</i></td>
            </tr>
            {% endif %}
            {% if data.summary.opponent_games_playoff > 0 %}
            <tr>
                <td class='alnright'>{{data.summary.opponent_games_playoff}}</td><td>playoff game{% if data.summary.opponent_games_playoff != 1 %}s{% endif %} <i>({{data.summary.opponent_games_playoff_record.wins}}-{{data.summary.opponent_games_playoff_record.losses}})</i></td>
            </tr>
            {% endif %}
            {% if data.summary.opponent_games_allstar > 0 %}
            <tr>
                <td class='alnright'>{{data.summary.opponent_games_allstar}}</td><td>All-Star game{% if data.summary.opponent_games_allstar != 1 %}s{% endif %} <i>({{data.summary.opponent_games_allstar_record.wins}}-{{data.summary.opponent_games_allstar_record.losses}})</i></td>
            </tr>
            {% endif %}

    {% endif %}

<!--this is a dummy table to fix the table inside the tree display-->
 <ul class="tree_invisible"><li>
<details>
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
</details></li></ul>

<h3>Detailed Game Data</h3>

<ul class="tree">
    {% for season in data.seasons %}
        <li>
            <details>
                <summary>{{season.name}}: {{season.summary.total_games}} game{% if season.summary.total_games != 1 %}s{% endif %}</summary>
                <ul>
                    </li>

                    {% if season.summary.opponent_games > 0 %}
<!--                    <li>-->
<!--                        <details>-->
<!--                            <summary>{{season.summary.opponent_games}} game{% if season.summary.opponent_games != 1 %}s{% endif %} as opponents <i>({{season.summary.opponent_games_record.wins}}-{{season.summary.opponent_games_record.losses}})</i></summary>-->
                            <ul>
                                {% for game_type in season.opponent_games %}
                                <li>
                                    <details>
                                        <summary>{{game_type.games|length}} {{game_type.display_name}} game{% if game_type.games|length != 1 %}s{% endif %} <i>({{game_type.games_record.wins}}-{{game_type.games_record.losses}})</i></summary>
                                        <ul>
                                            {% for game in game_type.games %}
                                            <li>
                                                <details>
                                                    <summary>{{game.gameDate}}, {{game.awayTeam}} @ {{game.homeTeam}}, {% if game.awayTeamGoals>game.homeTeamGoals %}<b>{% endif %}{{game.awayTeamGoals}}{% if game.awayTeamGoals>game.homeTeamGoals %}</b>{% endif %}-{% if game.homeTeamGoals>game.awayTeamGoals %}<b>{% endif %}{{game.homeTeamGoals}}{% if game.homeTeamGoals>game.awayTeamGoals %}</b>{% endif %}</summary>
                                                    <ul>
                                                        <li>
                                                            <table>
                                                                <tr><th>TOI</th></th><th>G</th><th>A</th><th>S</th><th>HIT</th><th>PIM</th><th>SA</th><th>SV</th><th>SV%</th></tr>
                                                                <tr><td>{{game.timeOnIce}}</td><td>{{game.goals}}</td><td>{{game.assists}}</td><td>{{game.shots}}</td><td>{{game.hits}}</td><td>{{game.pim}}</td><td>{{game.shotsAgainst}}</td><td>{{game.saves}}</td><td>{{game.savePercentage}}</td></tr>
<!--                                                                <tr><td>{{playername2}}</td><td>{{game.team_2_abbrev}}</td><td>{{game.timeOnIce_2}}</td><td>{{game.goals_2}}</td><td>{{game.assists_2}}</td><td>{{game.shots_2}}</td><td>{{game.hits_2}}</td><td>{{game.pim_2}}</td><td>{{game.shotsAgainst_2}}</td><td>{{game.saves_2}}</td><td>{{game.savePercentage_2}}</td></tr>-->
                                                            </table>
                                                        </li>
                                                    </ul>
                                                    </details>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </li>
                                {% endfor %}
                            </ul>
<!--                        </details>-->
<!--                    </li>-->
                    {% endif %}
                </ul>
            </details>
        </li>
    {% endfor %}
    </ul>

    <p>This is based on NHL roster data up to {{latest_date}}.</p>

      <p>Win-Loss records are expressed from the player's perspective.</p>
             
    <a href="{{ url_for('home') }}">Return to main page</a>
  </body>
</html>
