<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hockey Teammates</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <style>
        .tree_invisible{
        visibility: hidden;
  --spacing : 1.5rem;
  --radius  : 10px;
  font-size:0; margin:0;
}
      .tree{
  --spacing : 2rem;
  --radius  : 10px;
}
.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(0 - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) );

  padding-left : 0;
}
.alnright {
text-align: right;
}
table {
  border-collapse: collapse;
}
td:empty::after{
  content: "\00a0";
}

  </style>
  <body>

  <h3>Games vs Team</h3>
  <p><b>{{playername}}</b> has played {{data.count}} game{% if data.count != 1 %}s{% endif %} against the {{team}}:</p>

  <table>
    {% if data.count > 0 %}
        {% for game_type in data.split %}
            {% if game_type.count > 0 %}
            <tr>
              <td class='alnright'>{{game_type.count}}</td><td>{{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}

<!--this is a dummy table to fix the table inside the tree display-->
 <ul class="tree_invisible"><li>
<details>
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
</details></li></ul>

<h3>Detailed Game Data</h3>

<ul class="tree">
    {% for season in data.seasons %}
        <li>
            <details>
                <summary>{{season.season_name}}: {{season.count}} game{% if season.count != 1 %}s{% endif %}</summary>
                <ul>
                    </li>
                    {% if season.count > 0 %}
                            <ul>
                                {% for game_type in season.split %}
                                <li>
                                    <details>
                                        <summary>{{game_type.count}} {{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></summary>
                                        <ul>
                                            {% for game in game_type.games %}
                                            <li>
                                                <details>
                                                    <summary>{{game.gameDate}}, {{game.awayTeam}} @ {{game.homeTeam}}, {% if game.awayScore>game.homeScore %}<b>{% endif %}{{game.awayScore}}{% if game.awayScore>game.homeScore %}</b>{% endif %}-{% if game.homeScore>game.awayScore %}<b>{% endif %}{{game.homeScore}}{% if game.homeScore>game.awayScore %}</b>{% endif %}</summary>
                                                    <ul>
                                                        <li>
                                                            <table>
                                                                <tr><th>TOI</th></th><th>G</th><th>A</th><th>S</th><th>HIT</th><th>PIM</th><th>SA</th><th>SV</th><th>SV%</th></tr>
                                                                <tr><td>{{game.toi}}</td><td>{{game.goals}}</td><td>{{game.assists}}</td><td>{{game.shots}}</td><td>{{game.hits}}</td><td>{{game.pim}}</td><td>{{game.shotsAgainst}}</td><td>{{game.saves}}</td><td>{{game.savePercentage}}</td></tr>
                                                            </table>
                                                        </li>
                                                    </ul>
                                                    </details>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                </ul>
            </details>
        </li>
    {% endfor %}
    </ul>

    <p>This is based on NHL roster data up to {{latest_game_date}}.</p>

      <p>Win-Loss records are expressed from the player's perspective.</p>
             
    <a href="{{ url_for('home') }}">Return to main page</a>
  </body>
</html>
