<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>Options</h3>

    <form method="post" action="/options_result_2">
    <p>There are multiple players with the specified names. Please select one:</p>
    <b>Player 1</b><br>
    {% for player1 in data1 %}
    <input type="radio" id="p1#{{player1.playerId}}" name="playerid1" value="{{player1.playerName}}#{{player1.playerId}}" required>
    <label for="p1#{{player1.playerId}}">{{player1.player}}</label><br>
    {% endfor %}
    <b>Player 2</b><br>
    {% for player2 in data2 %}
    <input type="radio" id="p2#{{player2.playerId}}" name="playerid2" value="{{player2.playerName}}#{{player2.playerId}}" required>
    <label for="p2#{{player2.playerId}}">{{player2.player}}</label><br>
    {% endfor %}
    <br>
    <input type="submit" name="submit" value="Submit">
    </form>
    <br>
    <a href="{{ url_for('home') }}">Return to main page</a>
  </body>
</html>
