<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hockey Teammates</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <style>
        .tree_invisible{
        visibility: hidden;
  --spacing : 1.5rem;
  --radius  : 10px;
  font-size:0; margin:0;
}
      .tree{
  --spacing : 2rem;
  --radius  : 10px;
}
.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(0 - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) );

  padding-left : 0;
}
.alnright {
text-align: right;
}
table {
  border-collapse: collapse;
}
td:empty::after{
  content: "\00a0";
}

  </style>
  <body>
    
  <h3>Games in Common</h3>
  <p><b>{{playername1}}</b> and <b>{{playername2}}</b> have played {{data.count}} game{% if data.count != 1 %}s{% endif %} in common:</p>

  <table>
	  <tr><td colspan="3">{{data.teammates.count}} game{% if data.teammates.count != 1 %}s{% endif %} as teammates {% if data.teammates.count >0 %}<i>({{data.teammates.record.wins}}-{{data.teammates.record.losses}})</i>{% endif %}</td></tr>
    {% if data.teammates.count > 0 %}
        {% for game_type in data.teammates.split %}
            {% if game_type.count > 0 %}
            <tr>
                <td></td><td class='alnright'>{{game_type.count}}</td><td>{{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
      <tr><td></td><td></td><td></td></tr>
      <tr><td colspan="3">{{data.opponents.count}} game{% if data.opponents.count != 1 %}s{% endif %} as opponents {% if data.opponents.count > 0 %}<i>({{data.opponents.record.wins}}-{{data.opponents.record.losses}})</i>{% endif %}</td></tr>
    {% if data.opponents.count > 0 %}
        {% for game_type in data.opponents.split %}
            {% if game_type.count > 0 %}
            <tr>
                <td></td><td class='alnright'>{{game_type.count}}</td><td>{{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}

<!--this is a dummy table to fix the table inside the tree display-->
 <ul class="tree_invisible"><li>
<details>
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
</details></li></ul>

<h3>Detailed Game Data</h3>

<ul class="tree">
    {% for season in data.seasons %}
        <li>
            <details>
                <summary>{{season.season_name}}: {{season.count}} game{% if season.count != 1 %}s{% endif %}</summary>
                <ul>
                    </li>
                    {% if season.teammates.count > 0 %}
                    <li>
                        <details>
                            <summary>{{season.teammates.count}} game{% if season.teammates.count != 1 %}s{% endif %} as teammates <i>({{season.teammates.record.wins}}-{{season.teammates.record.losses}})</i></summary>
                            <ul>
                                {% for game_type in season.teammates.split %}
                                <li>
                                    <details>
                                        <summary>{{game_type.count}} {{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></summary>
                                        <ul>
                                            {% for game in game_type.games %}
                                            <li>
                                                <details>
                                                    <summary>{{game.gameDate}}, {{game.awayTeam}} @ {{game.homeTeam}}, {% if game.awayScore>game.homeScore %}<b>{% endif %}{{game.awayScore}}{% if game.awayScore>game.homeScore %}</b>{% endif %}-{% if game.homeScore>game.awayScore %}<b>{% endif %}{{game.homeScore}}{% if game.homeScore>game.awayScore %}</b>{% endif %}</summary>
                                                    <ul>
                                                        <li>
                                                            <table>
                                                                <tr><th></th><th>Team</th><th>TOI</th></th><th>G</th><th>A</th><th>S</th><th>HIT</th><th>PIM</th><th>SA</th><th>SV</th><th>SV%</th></tr>
                                                                <tr><td>{{playername1}}</td><td>{{game.team_1_abbrev}}</td><td>{{game.toi_1}}</td><td>{{game.goals_1}}</td><td>{{game.assists_1}}</td><td>{{game.shots_1}}</td><td>{{game.hits_1}}</td><td>{{game.pim_1}}</td><td>{{game.shotsAgainst_1}}</td><td>{{game.saves_1}}</td><td>{{game.savePercentage_1}}</td></tr>
                                                                <tr><td>{{playername2}}</td><td>{{game.team_2_abbrev}}</td><td>{{game.toi_2}}</td><td>{{game.goals_2}}</td><td>{{game.assists_2}}</td><td>{{game.shots_2}}</td><td>{{game.hits_2}}</td><td>{{game.pim_2}}</td><td>{{game.shotsAgainst_2}}</td><td>{{game.saves_2}}</td><td>{{game.savePercentage_2}}</td></tr>
                                                            </table>
                                                        </li>
                                                    </ul>
                                                </details>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </li>
                                {% endfor %}
                            </ul>
                        </details>
                    </li>
                    {% endif %}
                    {% if season.opponents.count > 0 %}
                    <li>
                        <details>
                            <summary>{{season.opponents.count}} game{% if season.opponents.count != 1 %}s{% endif %} as opponents <i>({{season.opponents.record.wins}}-{{season.opponents.record.losses}})</i></summary>
                            <ul>
                                {% for game_type in season.oppoents.split %}
                                <li>
                                    <details>
                                        <summary>{{game_type.count}} {{game_type.type}} game{% if game_type.count != 1 %}s{% endif %} <i>({{game_type.record.wins}}-{{game_type.record.losses}})</i></summary>
                                        <ul>
                                            {% for game in game_type.games %}
                                            <li>
                                                <details>
                                                    <summary>{{game.gameDate}}, {{game.awayTeam}} @ {{game.homeTeam}}, {% if game.awayScore>game.homeScore %}<b>{% endif %}{{game.awayScore}}{% if game.awayScore>game.homeScore %}</b>{% endif %}-{% if game.homeScore>game.awayScore %}<b>{% endif %}{{game.homeScore}}{% if game.homeScore>game.awayScore %}</b>{% endif %}</summary>
                                                    <ul>
                                                        <li>
                                                            <table>
                                                                <tr><th></th><th>Team</th><th>TOI</th></th><th>G</th><th>A</th><th>S</th><th>HIT</th><th>PIM</th><th>SA</th><th>SV</th><th>SV%</th></tr>
                                                                <tr><td>{{playername1}}</td><td>{{game.team_1_abbrev}}</td><td>{{game.toi_1}}</td><td>{{game.goals_1}}</td><td>{{game.assists_1}}</td><td>{{game.shots_1}}</td><td>{{game.hits_1}}</td><td>{{game.pim_1}}</td><td>{{game.shotsAgainst_1}}</td><td>{{game.saves_1}}</td><td>{{game.savePercentage_1}}</td></tr>
                                                                <tr><td>{{playername2}}</td><td>{{game.team_2_abbrev}}</td><td>{{game.toi_2}}</td><td>{{game.goals_2}}</td><td>{{game.assists_2}}</td><td>{{game.shots_2}}</td><td>{{game.hits_2}}</td><td>{{game.pim_2}}</td><td>{{game.shotsAgainst_2}}</td><td>{{game.saves_2}}</td><td>{{game.savePercentage_2}}</td></tr>
                                                            </table>
                                                        </li>
                                                    </ul>
                                                    </details>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </li>
                                {% endfor %}
                            </ul>
                        </details>
                    </li>
                    {% endif %}
                </ul>
            </details>
        </li>
    {% endfor %}
    </ul>


    <p>This is based on NHL roster data up to {{latest_date}}.</p>

      <p>Win-Loss records are expressed from the perspective of the first player listed (here, {{playername1}}) when players are opponents.</p>
             
    <a href="{{ url_for('home') }}">Return to main page</a>
   
  </body>
</html>
