<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hockey Teammates</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>

  <h3>
     Version Notes 
    </h3>

    <p><b>Version 0.8</b></p>
   
    <ul>
    <li>The app focuses on NHL players from 2000-2021. In addition, it contains roster data from the AHL, international tournament teams (Worlds, World Juniors, Olympics), as well as a selection of pro and junior leagues in Canada, the United States, Sweden, Russia, and Finland. See <a href="{{ url_for('data') }}">the full list of included leagues</a>).</li>
    <li>To search for a player, you must use their full name and the exact spelling used by <a href="https://eliteprospects.com">EliteProspects</a>. For example, "Yevgeni Malkin" will return results but "Evgeni Malkin" will not. However, capitalization and diacritics are optional ("Nicklas Backstrom" and "nicklas backstrom" and "Nicklas Bäckström" all return the same result).</li>
    <li>Exact trade dates aren't available, so some players may incorrectly appear as teammates if they were traded to/from the same team in the same season.</li>
    </ul>

    <a href="{{ url_for('home') }}">Return to main page</a>
    </body>
</html>
